@inject ProtectedLocalStorage storage

<li class="nav-item">
    <a href="@url" class="nav-link text-dark" ><i class="fas fa-shopping-cart"></i><span class="badge badge-light">@a</span></a>
</li>


@code{

    [Parameter]
    public string url { get; set; }

    private int a;

    protected override async Task OnInitializedAsync()
    {
        var val = await storage.GetAsync<int>("cartcount");
        a = val.Success ? val.Value : 0;
    }
}